<div class="lg:max-h-[95vh] max-h-[30vh] h-[95vh] overflow-hidden relative ">
    <img src="../../../assets/home-main/first.png" class="scale-x-[1.8] scale-y-125" alt="">
    <div class="absolute main top-[30%] lg:bottom-[50%]  left-[10%]">
        <p class="lg:text-lg lg:mt-3 text-sm">SUMMER 2023</p>
        <p class="lg:text-[45px] lg:mt-3 font-semibold text-lg">New Arrival Collection</p>
        <button
            class="lg:mt-3 lg:left-[20%] left-[10%] lg:w-40 w-32 font-semibold text-sm  h-10 shadow-lg shadow-[#0000001a] bg-black text-white duration-500 z-20">Explore
            Now</button>
    </div>
</div>