<!-- <div class="main-card h-[270px]  border border-[#ddd] justify-between items-center px-5" *ngFor="let product of productArr | paginate :{ -->
<div class="two-col-card">
    <div class="main-card h-[270px] border border-[#ddd] justify-between items-center px-5" *ngFor="let product of productArr | async | paginate :{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
    }; index as i">
        <div class="h-[85%] relative border overflow-hidden">
            <!-- <icon [icon]="faHeart" (click)="onClickHeart()" [ngClass]="{'text-red-500':productArrWish[index]}"
                class="absolute left-3 top-3 transition cursor-pointer text-black hover:text-red-500 "></icon> -->
            <img src="https://cdn.shopify.com/s/files/1/0616/9480/4174/products/20046729-1-offwhite.jpg?v=1652169256&width=700"
                alt class="transition duration-500 w-full cursor-pointer hover:scale-125"
                (click)="showProduct(product.id)">
        </div>
        <div class="h-fit">
            <p class="font-medium sm:text-[12px] sm:w-full cursor-pointer" (click)="showProduct(product.id)">
                {{product.title}}
            </p>
            <!-- <p>{{product.id}}</p> -->
            <p class="text-[15px]">${{product.price}}</p>
            <p class="text-sm hidden lg:block">{{product.description}}</p>
        </div>
        <div class="card-btn">
            <button
                class="border border-[black] text-[black] rounded-[80px] w-full h-10 hover:text-white hover:bg-[black] duration-300"
                *ngIf="url.split('/')[1]==='wishlist'" (click)="onClickRemove(product.id)">Remove</button>
            <button
                class="border border-[#56cfe1] text-[#56cfe1] rounded-[80px] w-full h-10 hover:text-white hover:bg-[#56cfe1] duration-300"
                *ngIf="url.split('/')[1]==='collections'">Quick
                View</button>

            <div *ngIf="!cartProductIds.includes(product.id); else removeCart"
                class="h-10 text-sm text-white cursor-pointer bg-[#56cfe1] flex items-center justify-center hover:text-[#56cfe1] hover:bg-[white] duration-300 hover:border-[#56cfe1] hover:border rounded-[80px] "
                (click)="onClickAddToCart(product.id)">
                Add to cart
            </div>
            <ng-template #removeCart>
                <div
                    class="h-10 mt-2 text-sm text-white cursor-pointer bg-[#ed3535] flex items-center justify-center hover:text-[#ed3535] hover:bg-[white] duration-300 hover:border-[#ed3535] hover:border rounded-[80px] ">
                    Remove From Cart
                </div>
            </ng-template>
        </div>
    </div>
    <div class="text-center mt-10" *ngIf="productArr.length > 0">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
    <div class="mt-10" *ngIf="productArr.length===0">
        <p class="text-center">No items in wishlist</p>
    </div>
</div>