<div class="two-col-card">
    <div class="main-card h-[270px] border border-[#ddd] justify-between items-center px-5" *ngFor="let product of productArr | async | paginate :{
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
    }; index as i">
        <div class="h-[85%] relative border overflow-hidden">
            <img [src]="getImageUrl(product.id, product.image)" alt
                class="object-cover transition duration-500 w-full cursor-pointer hover:scale-125"
                (click)="showProduct(product.id)">
        </div>
        <div class="h-fit">
            <p class="font-medium sm:text-[12px] sm:w-full cursor-pointer" (click)="showProduct(product.id)">
                {{product.title}}
            </p>
            <!-- <p>{{product.id}}</p> -->
            <p class="text-[15px]">${{product.price}}</p>
            <p class="text-sm hidden lg:block">{{product.description}}</p>
        </div>
        <div class="card-btn">
            <button
                class="border border-[black] text-[black] rounded-[80px] w-full h-10 hover:text-white hover:bg-[black] duration-300"
                *ngIf="url.split('/')[1]==='wishlist'" (click)="onClickRemove(product.id)">Remove</button>
            <button
                class="border border-[#56cfe1] text-[#56cfe1] rounded-[80px] w-full h-10 hover:text-white hover:bg-[#56cfe1] duration-300"
                *ngIf="url.split('/')[1]==='collections'">Quick
                View</button>

            <div *ngIf="!cartProductIds.includes(product.id); else removeCart"
                class="h-10 text-sm text-white cursor-pointer bg-[#56cfe1] flex items-center justify-center hover:text-[#56cfe1] hover:bg-[white] duration-300 hover:border-[#56cfe1] hover:border rounded-[80px] "
                (click)="onClickAddToCart(product.id)">
                Add to cart
            </div>
            <ng-template #removeCart>
                <div class="h-10 mt-2 text-sm text-white cursor-pointer bg-[#ed3535] flex items-center justify-center hover:text-[#ed3535] hover:bg-[white] duration-300 hover:border-[#ed3535] hover:border rounded-[80px] "
                    (click)="onClickRemoveFromCart(product.id)">
                    Remove From Cart
                </div>
            </ng-template>
        </div>
    </div>
    @if (true) {
    <!-- <div class="text-center mt-10">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div> -->
    }

    @if (productArr.length===0) {
    <div class="mt-10">
        <p class="text-center">No Products available</p>
    </div>
    }

</div>