<div class="bg-[#f6f6f8] min-h-[200px] flex lg:flex-row justify-between  lg:p-28 mt-28 flex-col">

    <div class="text-[#878787] mb-6 lg:w-[18%] w-full lg:h-[250px] h-fit flex justify-between flex-col n">
        <p class="text-[18px] lg:hidden flex justify-between">
            Get In touch
            <span class="lg:hidden block">
                <fa-icon [icon]="faPlus" class="text-[18px]"></fa-icon>

            </span>
        </p>

        <div class="lg:flex hidden flex-col h-[100%] justify-between">

            <img src="../../assets/logo.png" class="h-[30px] w-[100px]" alt="">
            <p class="w-full">
                <fa-icon [icon]="faLocation" class="text-[18px]"></fa-icon>
                <span class="text-[15px] ml-2">184 Main Rd E, St Albans VIC 3021, Australia</span>
            </p>
            <p>
                <fa-icon [icon]="faMessage" class="text-[18px]"></fa-icon>
                <span class="text-[15px] ml-2">
                    contact&#64;company.com
                </span>
            </p>
            <p>
                <fa-icon [icon]="faPhone" class="text-[18px]"></fa-icon>
                <span class="text-[15px] ml-2">
                    +001 2233 456
                </span>
            </p>
            <!-- <div class="flex justify-between w-[80%]">
                <a class="hover:text-[#3b5998] hover:-translate-y-1.5 duration-500">
                    <fa-icon [icon]="faFacebook" class="text-[18px]"></fa-icon>

                </a>
                <a class="hover:text-blue-400  hover:-translate-y-1.5 duration-500">

                    <fa-icon [icon]="faTwitter" class="text-[18px]"></fa-icon>
                </a>
                <a class="hover:text-[#d62976] hover:-translate-y-1.5 duration-500">

                    <fa-icon [icon]="faInstagram" class="text-[18px]"></fa-icon>
                </a>
                <a class="hover:text-[#0A66C2] hover:-translate-y-1.5 duration-500">

                    <fa-icon [icon]="faLinkedin" class="text-[18px]"></fa-icon>
                </a>
                <a class="hover:text-[#c8232c] hover:-translate-y-1.5 duration-500">
                    <fa-icon [icon]="faPinterest" class="text-[18px]"></fa-icon>

                </a>

            </div> -->
            <app-social-media></app-social-media>
        </div>
    </div>
    <div class="text-[#878787] mb-6 w-[13%] h-[250px] flex justify-between flex-col  ">
        <p class="text-[18px]">Categories</p>
        <div class="flex flex-col h-[80%] justify-between">
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Men</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Women</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Accessories</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Shoes</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Watch</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Dress</a>

        </div>
    </div>
    <div class="text-[#878787] mb-6 w-[13%] h-[250px] flex justify-between flex-col  ">
        <p class="text-[18px]">Information</p>
        <div class="flex flex-col h-[80%] justify-between">
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">About us</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Contact us</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Terms & Exchanges</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Returns & Exchanges</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Shipping & Delivery</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Privacy Policy</a>
        </div>
    </div>
    <div class="text-[#878787] mb-6 w-[13%] h-[220px] flex justify-between flex-col  ">
        <p class="text-[18px]">Useful links</p>
        <div class="flex flex-col h-[80%] justify-between">
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Latest News</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">My Account</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">Size Guide</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">FASQs</a>
            <a class="text-sm hover:text-[#56cfe1] w-fit transition">FASQs 2</a>
        </div>
    </div>
    <div class="text-[#878787] mb-6 w-[20%] h-[220px] flex justify-between flex-col ">
        <p class="text-[18px]">Newsletter Signup</p>
        <div class="flex flex-col h-[80%] justify-between">

            <p class="text-[14px] ">
                Subscribe to our newsletter and get 10% off your first purchase
            </p>
            <!-- <p class="text-[14px] ">
                Subscribe to our newsletter and get 10% off your first purchase
            </p> -->
            <div
                class="h-12 w-full border border-black rounded-3xl flex items-center justify-between overflow-hidden px-[2px]">
                <input class="rounded-3xl h-[90%] w-[55%] " type="text ">
                <button
                    class="bg-black font-semibold text-white w-[40%] text-sm rounded-3xl h-[90%] hover:bg-[#56cfe1] duration-500">
                    Subscribe
                </button>
            </div>
        </div>
    </div>
</div>
<div class=" flex h-14 items-center justify-between px-28 text-[#878787]">
    <p class="text-[14px] ">All Rights Reserved © 2023 <span class="text-[#56cfe1]">Kalles</span> - Developed by Ansar
    </p>
    <div class="w-[20%] main-nav">
        <ul class="flex w-full justify-between">
            <li class="
                transition-all
                 cursor-pointer
                  hover:text-[#56cfe1]
                   text-[15px]">
                <a>Shop</a>
            </li>
            <li class="transition-all
                 cursor-pointer
                  hover:text-[#56cfe1]
                   text-[15px]">
                <a>Product</a>
            </li>
            <li class="transition-all
                 cursor-pointer
                  hover:text-[#56cfe1]
                   text-[15px]">
                <a>Sale</a>
            </li>
            <li class="transition-all
                 cursor-pointer
                  hover:text-[#56cfe1]
                   text-[15px]">
                <a>Blog</a>
            </li>
            <!-- #56cfe1; -->
        </ul>
    </div>
</div>