<app-header-bottom [headerName]="'Shopping Cart'"></app-header-bottom>
<div class="m-auto w-10/12 mt-14">
    <div class="flex text-[0.938rem] font-medium border-b border-b-[#ddd] pb-1">
        <p class="w-[40%] ">Product</p>
        <p class="w-[20%] text-center ">Price</p>
        <p class="w-[20%] text-center">Quantity</p>
        <p class="w-[20%] text-end">Total</p>
    </div>
    @for (cart of cartProducts; track $index) {
        <div class="flex text-[0.938rem] font-medium border-b border-b-[#ddd] py-8">
            <div class="w-[40%] h-40 flex items-center">
                <img [src]="'https://demo-kalles-4-1.myshopify.com/cdn/shop/products/14609539-1-grey.jpg?v=1652169191&width=240'"
                    class="h-full object-cover w-[8rem]" src="" alt="">
                <div class="ml-4">
                    <p class=" text-[0.938rem] font-semibold">{{cart.product.name}}</p>
                    <mat-icon (click)="onClickRemoveCart(cart.product_id)" class="mt-2 cursor-pointer" fontIcon="delete_forever"></mat-icon>
                </div>
            </div>
            <div class="w-[20%] text-center center-align text-[#878787] text-sm">{{cart.product.price | currency}}</div>
            <div class="w-[20%] text-center center-align">
                <div 
                    class="w-[50%] border border-black  flex justify-between items-center h-8 rounded-[60px] font-medium text-xl px-3 mr-3">
                    <button (click)="onClickOperator(cart.id, -1, cart.count)" class="cursor-pointer hover:text-[#56cfe1] duration-300 flex">
                        -
                    </button>
                    <span>{{cart.count}}</span>
                    <button (click)="onClickOperator(cart.id, 1, cart.count)" class="cursor-pointer hover:text-[#56cfe1] duration-300">
                        +
                    </button>
                </div>
            </div>
            <div class="w-[20%] text-end center-align" style="justify-content: end;">
                <p class="text-[#222] text-sm ">{{cart.count * cart.product.price | currency}}</p>
            </div>
        </div>
    }
</div>