<div class="cart-div">
    <h1>Shopping Cart</h1>
    <div class="cart">
        <div class="cart-cards flex flex-col">
            <div class="cart-card border border-gray-200 flex items-center " *ngFor="let product of cartProducts$ | async">
                <img src="https://cdn.shopify.com/s/files/1/0616/9480/4174/products/20046729-1-offwhite.jpg?v=1652169256&width=700"
                    alt="">
                <div class="card-detail flex flex-col">
                    <!-- <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae libero, sapiente vitae soluta
                        ipsa velit harum sint atque cupiditate ea? </h3> -->
                    <h3>{{product.name}} - {{product.description}}</h3>
                    <div style="flex: 1;"></div>
                    <div class="card-action flex" style="gap: 5px;">
                        <button class="card-wish"
                            style="background-color: #56cfe1; color: white; font-size: 12px; width: 100px; border-radius: 5px; height: 26px;">
                            Add to wishlist
                        </button>
                        <button class="card-remove "
                            style="background-color: black; color: white; font-size: 12px; width: 50px; border-radius: 5px;">
                            Remove
                        </button>

                    </div>
                </div>
                <div
                    style="width: 10%; font-size: 16px;"
                    class="border border-black  flex justify-between items-center h-8 rounded-[60px] font-medium text-xl px-3 mr-3">
                    <button class="cursor-pointer hover:text-[#56cfe1] duration-300 flex">-</button>
                    <span  >{{product.count}}</span>
                    <button class="cursor-pointer hover:text-[#56cfe1] duration-300">+</button>
                </div>
                <div style="font-size: 20px; width: 10%; text-align: center; font-weight: 500;" >
                    {{product.count * product.price | currency}} 
                </div>
            </div>
        </div>
        <div class="cart-summary"></div>
    </div>
</div>