<app-header-bottom [headerName]="'SIGNUP'"></app-header-bottom>
<div class="min-h-[200px] w-[90%] lg:w-[35%] m-auto mt-20">
    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit(loginForm)" class="h-full w-full">
        <!-- <app-error [formMain]="loginForm"
            *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) ||(!loginForm.get('password').valid && loginForm.get('password').touched)"></app-error> -->
        <div class="min-w-full  min-h-[100px] mb-4"
            *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) ||(!loginForm.get('password').valid && loginForm.get('password').touched)">
            <p>
                <fa-icon [icon]="faError" class="text-red-500 mr-2"></fa-icon>
                PLEASE ADJUST THE FOLLOWING:
            </p>
            <ul class="list-disc w-full ml-11 text-[14px] mt-2 text-[#878787]">
                <li
                    *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched && !loginForm.get('email').value">
                    Invalid email</li>
                <li *ngIf="!loginForm.get('email').valid && loginForm.get('email').value">
                    Email not exist</li>

                <li
                    *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched && !loginForm.get('password').value">
                    Invalid Password: It shouldnt be
                    empty</li>
            </ul>
        </div>
        <input type="email"
            class="border border-[#ddd] w-full h-10 placeholder:font-[300] placeholder:pl-4 placeholder:text-[#878787]"
            placeholder="Email*" [formControlName]="'email'"
            [ngClass]="{'border-[red]':!loginForm.get('email').valid && loginForm.get('email').touched}" required email>

        <input type="{{passType}}"
            class="border border-[#ddd] w-full h-10 placeholder:font-[300] placeholder:pl-4 placeholder:text-[#878787] mt-8"
            placeholder="Password*"
            [ngClass]="{'border-[red]':!loginForm.get('password').valid && loginForm.get('password').touched}"
            [formControlName]="'password'" required>
        <label for>
            <input type="checkbox" name id (click)="onClick()">
            Check Password
        </label>

        <button type="submit" class="text-white bg-black w-full h-11 rounded-3xl my-8 text-[15px]">
            Login
        </button>

        <a [routerLink]="['/account','signup']"
            class="text-sm cursor-pointer underline text-[#878787] hover:text-[#56cfe1] transition block ">
            New customer? Create your account
        </a>
    </form>
</div>