<div class="flex justify-between w-[100%]">
    <a class="hover:text-[#3b5998] hover:-translate-y-1.5 duration-500">
        <fa-icon [icon]="faFacebook" class="text-[18px]"></fa-icon>

    </a>
    <a class="hover:text-blue-400  hover:-translate-y-1.5 duration-500">

        <fa-icon [icon]="faTwitter" class="text-[18px]"></fa-icon>
    </a>
    <a class="hover:text-[#d62976] hover:-translate-y-1.5 duration-500">

        <fa-icon [icon]="faInstagram" class="text-[18px]"></fa-icon>
    </a>
    <a class="hover:text-[#0A66C2] hover:-translate-y-1.5 duration-500">

        <fa-icon [icon]="faLinkedin" class="text-[18px]"></fa-icon>
    </a>
    <a class="hover:text-[#c8232c] hover:-translate-y-1.5 duration-500">
        <fa-icon [icon]="faPinterest" class="text-[18px]"></fa-icon>

    </a>

</div>

<!-- Dear Santosh Sir,
Its Shaikh Gulnaaz, with another mail totally disappointed and disheartened regarding my refund process, today i came to
the center with my mother to meet the branch manager to talk about my refund process but our coordinator Rajni mam told
us that manager is busy and cant talk now so we talk to her and we didn't got any satifactory response from her , the
main reason we came to center was to talk about the refund amount u guyz are refunding to us , according to the last
mail from Santosh sir the total refund amount is 35000 INR which doesnt make any sense because you guys are also cutting
the tax amount which doesnt count because i gave all the money by cash and talking about the remaining modules ,angular
is not yet completed and i will not count wd professional as well because the lectures taken was very improper and we
got 2weeks between the lectures , even after completing the batch our cetificate didnt get generated , the teaching
quality was very weak throughout the entire course from sql till now, they didnt include sql professional, python
professional and more so according this my refund amount will be approx 1lakh so please consider all of these and make
the decision asap, and this is my last email to itvedant i want the decision on or before thursday or i have to take
strict actions regarding my refund process and for the proper refund amount , if i didnt get the decision from your side
than i have reach the consumer court for this, i dont want to make this process complicated with the court process so
please process it fast and proper, or i forcefully had to take harsh decision. -->